header {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.ckc-logo {
	width: 150px;
	height: 150px;
	background: url(../../../assets/images/CKC-logo.png) no-repeat center;
	background-size: contain;
}

.ckc-navlinks > .link-container {
	padding: 0.8rem;
	cursor: pointer;
}

.link-container a {
	margin: 0 1.8rem;
	color: #222;
	text-decoration: none;
	border-bottom: 1px solid;
	transition: 300ms linear;

	&:hover {
		border: none;
		outline: none;
		padding: 5px;
		background: #fb2525;
		color: #fff;
		box-shadow: 1px 1px 1px rgba(26, 26, 26, 0.695);
	}
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background: white;
	border-radius: 10px;
}

@media (max-width: 500px) {

	.toggle-button {
		display: flex;
	}

}