header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.ckc-logo {
  width: 100px;
  height: 100px;
  background: url(../../../assets/images/CKC-logo.png) no-repeat center;
  background-size: contain;
}

.ckc-navlinks > .link-container {
  padding: 0.8rem;
  border: 2px solid #222;
  background-color: #fff;
}

.ckc-navlinks a {
  margin: 0 1.8rem;
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 500ms linear;
}

.ckc-navlinks a:hover {
  color: #bf2132;
  border-bottom: 1px solid #bf2132;
}