.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  color: white;

  .about-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .about-info {
    display: flex;
    font-size: 1.2rem;

    .about-info-left, .about-info-right {
      padding: 0 1.5rem;
    }

    .about-info-left {
      width: 40%;
      border-right: 1px solid #fff;

      h3 {
        margin-bottom: 2rem;
      }

      ol {
        padding: 0 2.5rem;
        
        li {
          line-height: 2rem;
        }
      }
    }

    .about-info-right {
      width: 60%;

      p {
        margin: 1rem 0;
      }

      p:first-child {
        margin-top: 0; 
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}